# CH-5 MUTABLE DATA STRUCTURES

MUTABLE DATA STRUCTURES

1) LIST
2) DICTIONARY
3) SET

LIST---> ORDERD , HETROGENUS , DUPLICATE ALLOW , MUTABLE

SYNTAX: L=[1,2,3]

In [1]:
l=[1,2,3]
print(type(l))

<class 'list'>

In [2]:
print(list("Hello"))

['H', 'e', 'l', 'l', 'o']

In [3]:
print(list(1))

TypeError: 'int' object is not iterable

In [6]:
print(list((1,2,3)))

[1, 2, 3]

In [7]:
l=["a",1,2.5,(1,2),[3,4]]
print(l)

['a', 1, 2.5, (1, 2), [3, 4]]

In [12]:
l=[1,2,7,8,[3,5],6]
print(l[3])
print(l[-2])
print(l[-2][1])
print(l[::-1])
print(l[-2][::-1])
print(l[:3:-1])
print(l[0:3:-1])
print(l[1::-1])
print(l[1:4:-1])
print(l[1:5:2])

8
[3, 5]
5
[6, [3, 5], 8, 7, 2, 1]
[5, 3]
[6, [3, 5]]
[]
[2, 1]
[]
[2, 8]

In [13]:
l=[1,2,3,4,5]
l[1]=100
l[2:5]=[10,20,30]
print(l)

[1, 100, 10, 20, 30]

In [20]:
l=[1,2,3,[1,2],"abcd"]
print(l[-1:-3:-1][-1][-2])

1

In [26]:
 l=[1,2,3,4,5]
l.append(9)
l.append([1,2])
l.append("hii")
# l.append(3,4)  append() takes exactly one argument (2 given)
print(l)

[1, 2, 3, 4, 5, 9, [1, 2], 'hii']

In [30]:
l=[1,2,3,4,5]
l.extend("hi")
# l.extend(9)  TypeError: 'int' object is not iterable
print(l)

[1, 2, 3, 4, 5, 'h', 'i']

In [33]:
l.extend([[7,8],10,11,"abc"])
print(l)

[1, 2, 3, 4, 5, 'h', 'i', [7, 8], 10, 11, 'abc', [7, 8], 10, 11, 'abc', [7, 8], 10, 11, 'abc']

In [36]:
n=[1,2,3,4,5]
n[4]=6
print(n)

[1, 2, 3, 4, 6]

In [37]:
l=[1,2,3,4,5]
del l[1]
print(l)

[1, 3, 4, 5]

In [38]:
l.clear()
print(l)

[]

In [43]:
l1=[1,2,3,4,2,5,2]
l1.remove(2)#l1.remove(Element Value)
print(l1)

[1, 3, 4, 2, 5, 2]

In [44]:
l2=[1,2,3,4,5]
del l2[1:4]
print(l2)

[1, 5]

In [49]:
l3=[1,2,3,4,5]
l3.pop()
print(l3)
l3.pop(2) # l3.pop(index No)
print(l3)
# l3.pop(7) # pop index out of range
print(l3)

[1, 2, 3, 4]
[1, 2, 4]
[1, 2, 4]

In [54]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1+l2)
print(l1*3)
print(5 in l2)
print(5 not in l1)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
True
True

In [55]:
l=[1,2,3]
i=0
while i<len(l):
    print(l[i])
    i+=1

1
2
3

In [56]:
for i in l:
    print(i)

1
2
3

In [57]:
for i,j in enumerate(l):
    print(i,"=",j)

0 = 1
1 = 2
2 = 3

In [60]:
l=[7,6,8,5,9]
print(len(l))
print(min(l))
print(max(l))

5
5
9

In [61]:
l1=[1,2,"a"]
print(min(l1))
print(max(l1))

TypeError: '<' not supported between instances of 'str' and 'int'

In [12]:
l=[7,6,8,5,9]
print(sum(l))
#l1=[1,2,"a"]
# print(sum(l1)) unsupported operand type(s) for +: 'int' and 'str'

TypeError: 'int' object is not callable

In [67]:
l2=["a","b"]
print(l2[0]+l2[1])
# print(sum(l2)) Not Supported

ab

In [68]:
l4=[1,5,3,7,2]
print(l4.sort())
print(l4)

None
[1, 2, 3, 5, 7]

In [69]:
l5=[1,5,3,7,2]
print(sorted(l5)) # iT iS tEMPORARY 
print(l5)

[1, 2, 3, 5, 7]
[1, 5, 3, 7, 2]

In [75]:
l=[5,7,8,5,9,5]
l.count(5)

3

In [76]:
l.index(5)
#l.index(5,2,7) ans is 3 -->(element,start index , stop index)
# l.index(10) 10 is not in list

0

In [73]:
l=[2,1,5,7,0]
l.reverse()
print(l)

[0, 7, 5, 1, 2]

In [77]:
l=[2,1,5,7,0]
print(id(l))

1586494553152

In [79]:
l1=l.copy()
print(id(l1))
print(l1)

1586495846656
[2, 1, 5, 7, 0]

In [81]:
l2=l[::]
print(id(l2))
print(l2)

1586495461760
[2, 1, 5, 7, 0]

In [82]:
l3=l
print(id(l3))
print(l3)

1586494553152
[2, 1, 5, 7, 0]

In [88]:
l=[1,2,3]
new=l
new.append(5)
print(new)
print(id(new))
print(l)

[1, 2, 3, 5]
1586495587584
[1, 2, 3, 5]

In [86]:
new1=l[::]
l.append(7)
print(new1)
print(l)

[1, 2, 3]
[1, 2, 3, 7]

In [87]:
l=[1,2,3]
new=l.copy()
new.append(5)
print(new)
print(id(new))
print(l)

[1, 2, 3, 5]
1586495460992
[1, 2, 3]

In [2]:
# WAP to add the element which value greater than or equal to itself 
# [2,4,6,10,1]
l=eval(input("Enter List: "))
res=[]
for i in l:
    sum=0
    for j in l:
        if i<=j:
            sum+=j
    res.append(sum)
print(res)

Enter List: [2,4,6,10,1]
[22, 20, 16, 10, 23]

In [6]:
# WAP to find list of common unique items from to list
l1=eval(input("Enter List 1: "))
l2=eval(input("Enter List 2: "))
l3=[]
for i in l1:
    for j in l2:
        if i==j:
            if j in l3:
                continue
            else:
                l3.append(j)
print(l3)

Enter List 1: [1,2,3,4,5]
Enter List 2: [1,2,2,3,4,5]
[1, 2, 3, 4, 5]

In [2]:
# WAP for a given list L of size n you need to count the no of special element in the given list an element is special if removal of that element make the list balanced the list will be balanced if sum of even index element is equal to the sum of odd index element also print the updated list after removal of special element 
# i/p [2,1,6,4]

L=eval(input("ENter List: "))
cn=0
for i in range(0,len(L)):
    c=L.copy()
    c.pop(i)
    sum1=sum(c[0::2])
    sum2=sum(c[1::2])
    if sum1==sum2:
        cn+=1
        print("Updated List: ",L[0:i]+L[i+1:])
print("No Of Special Elements: ",cn)

ENter List: [5,5,2,5,8]
Updated List:  [5, 2, 5, 8]
Updated List:  [5, 2, 5, 8]
No Of Special Elements:  2

# DICTIONARIES

1) Mutable datastructure
2) key - value
3) index no is not possible in dictionaries

In [5]:
d=dict([("a",1),("b",2)])
print(type(d))
print(d)

<class 'dict'>
{'a': 1, 'b': 2}

In [4]:
d1={}
print(type(d1))

<class 'dict'>

In [6]:
s1={1:{"a":1,"b":2}}
print(s1)

{1: {'a': 1, 'b': 2}}

In [21]:
d2={"name":"abc","age":25}
print(d2["age"])
print(d2["name"])

25
abc

In [22]:
print(d2.get("age"))

25

In [23]:
d2["gender"]="male" # ADDING KEY & VALUE IN DICTIONARIES 
print(d2)

{'name': 'abc', 'age': 25, 'gender': 'male'}

In [24]:
d2.pop("age")
print(d2)

{'name': 'abc', 'gender': 'male'}

In [25]:
d2.popitem()
print(d2)

{'name': 'abc'}

In [26]:
del d2["name"]
print(d2)

{}

In [27]:
d2.clear()
print(d2)

{}

In [28]:
d3={1.0:3.89,2:"7","c":[6,8,9]}
print(d3)
# Key is only integer or string

{1.0: 3.89, 2: '7', 'c': [6, 8, 9]}

In [31]:
d2={"name":"abc","age":25}
"name" in d2

True

In [33]:
for i in d2:
    print(i,"=",d2[i])

name = abc
age = 25

In [37]:
def sum(*n):
    t=0
    for i in n:
        t+=i
    print(t)
    #print(type(t))
sum(10)
sum(10,20,30,40,50)

10
150

In [36]:
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,"-",v)
display(m1=100,m2=200,m3=300)

m1 - 100
m2 - 200
m3 - 300

In [38]:
d={"name":"abc","age":25,"gender":"male"}
print(len(d))
print(sorted(d))
print(sorted(d,reverse=True))
print(max(d))
print(min(d))

3
['age', 'gender', 'name']
['name', 'gender', 'age']
name
age

In [39]:
d1={1:2,"a":3}
print(max(d1))
print(min(d1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
d2={"name":"abc","age":25}
print(d2.keys())
print(d2.values())
print(d2.items())

dict_keys(['name', 'age'])
dict_values(['abc', 25])
dict_items([('name', 'abc'), ('age', 25)])

In [44]:
d1={1:2,3:4}
d2={4:7,8:6,1:3}
d1.update(d2)
print(d1)

{1: 3, 3: 4, 4: 7, 8: 6}

In [46]:
d2.setdefault("age",55)
print(d2)

{4: 7, 8: 6, 1: 3, 'age': 55}

In [48]:
d2.setdefault("age",58)
print(d2)

{4: 7, 8: 6, 1: 3, 'age': 55, 'age1': 55}

In [49]:
d2.setdefault("age",58)
print(d2)

{4: 7, 8: 6, 1: 3, 'age': 55, 'age1': 55}

# Not In Syllabus

In [57]:
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [58]:
[[i*j for i in range(1,4)]for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [59]:
{i:{j:i*j for j in range(1,11)} for i in range(2,11)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50},
 6: {1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60},
 7: {1: 7, 2: 14, 3: 21, 4: 28, 5: 35, 6: 42, 7: 49, 8: 56, 9: 63, 10: 70},
 8: {1: 8, 2: 16, 3: 24, 4: 32, 5: 40, 6: 48, 7: 56, 8: 64, 9: 72, 10: 80},
 9: {1: 9, 2: 18, 3: 27, 4: 36, 5: 45, 6: 54, 7: 63, 8: 72, 9: 81, 10: 90},
 10: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}}

In [64]:
#WAP to enterd string by user create a dictionary which key is starting charactor of word and value is how many times it comes.
s="asd bsq asp bcv cdv asg"
a=s.split(" ")
b=s.startswith("a")
print(b)

True